html, body, #map {
	height: 100%;
	width: 100%;
	margin: 0;
}

#title {
	position: absolute;
	z-index: 100;
	left: 0px;
	top: 1em;
	padding: 0.75em;
	background-color: rgba(0, 0, 0, 0.6);
	color: white;
	font-family: sans-serif;
	border-top-right-radius: 1em 1em;
	border-bottom-right-radius: 1em 1em;
}

#title #menu {
	font-size: 1em;
	vertical-align: text-bottom;
	line-height: 0.75em;
}

#title #travelbrag {
	font-style: italic;
}

#title #separator {
	color: #909090;
	padding: 0.25em;
}

/*
Author: Mathias Schneider
License: MIT
Version: 1.0
*/
.vector-marker {
  width: 35px;
  height: 46px;
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  text-align: center;
}

.vector-marker svg path {
  stroke: black;
  stroke-opacity: 0.6;
  stroke-linejoin: "round";
}

.vector-marker svg circle {
	 stroke-opacity: 0.6;
	 stroke-linejoin: "round";
}